<header>
  <% if(user) { %>
    <h2><%= user["email"] %></h2>
    <form method="post" action="/logout">
      <button type="submit">Log out</button>
    </form>
  <% } else { %>
  <button> <a href="/login"> Login </a> </button>
  <br>
   <button><a href="/register"> register </a>  </button></br>
  <% } %>
</header>