<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h2 style= " margin : 3%"> URLs index </h2>
  <ul>
    <%  for ( let key in userUrls ) { %>
    <li>  <%= `${key} ---> ${userUrls[key].long}` %>  
      <form method="POST" action="/urls/<%= key %>/delete">
      <label for="long"> <a href="/urls/<%= key %>"> Edit </a> <button> DELETE </button> </label>
      </form>
    </li>
    <% } %>
  </ul>
</body>
</html>