<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <style>
  h1 { margin :4%;}
  </style>
  <% include ./partials/_header %> 
  <h1> shortURL: <%= shortURL %> </h1> 
  <ul>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input id="longURL" type="text"  name = "longURL" placeholder = <%= longURL %> style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </ul>
</body>
</html>