<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %> 
  <h2> URL page for <%= shortURL %> </h2>
  <ul>
    <li> <%=  shortURL %> : <%= longURL %></li>
  </ul>
</body>
</html>