<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h2> Loop </h2>
  <ul>
    <%  for ( let key in urls ) { %>
      <li>  <%= `${key} ---> ${urls[key]}` %>  
        <form method="POST" action="/urls/<%= key %>/delete">
        <label for="longURL"><button> DELETE </button> </label>
        </form>
    </li>

    <% } %>
    </ul>

</body>
</html>